*{
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
    font-family: "Hammersmith One", sans-serif;
}
header{
    background-color: #D9D9D9;
    width: 100%;
    height: 10vh;
    top: 0px;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    filter: drop-shadow(0px 6px 5px #00000055);
}
header span{
    cursor: pointer;
}
H1{
    font-size: 44px;
    width: 200px;
}
.DayNames{
    margin-left: 80%;
    margin-right: 10px;
    top: 9;
}
main{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 16vh);
    width: calc(100% - 20px);
    height: 100%;
    row-gap: 9px;
    margin-top: 10px;
    column-gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
main div{
    min-width: 120px;
    background-color: #eeeeee;
    transition: ease-out 0.1s;
    filter: drop-shadow(0px 6px 5px #00000055);
    border-radius: 10px;
}

main div:hover{
    transition: ease-in 0.2s;
    transform: scale(1.06);
    background-color: #cfcfcf;
    filter: drop-shadow(0px 12px 5px #00000055);
    z-index: 2;
}

main div p{
    margin-left: 10px;
    margin-top: 5px;
    font-size: 30px;
}